.header {
    border: 2px none red;
    display: flex;
    height: 70px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 2px none rgb(8,188,124);
    display: flex;
    align-items: center;
    width: 97%;
    padding: 10px;
    justify-content: space-between;
    position: relative;
}

.latest {
    border: 2px none yellow;
    text-decoration: none;
    color: white;
    font-family: "DM mono", serif;
    padding: 2px;
}
.latest:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
    color: black;
}

.hamicon{
    height: 30px;
    position: relative;
    opacity: .7;
}
.hamicon:hover {
    opacity: 1;
    cursor: pointer;
}

.dropdown {
    background-color: rgb(15, 15, 15);
    border: 2px none red;
    position: absolute;
    display: none;
    top: 70%;
    z-index: 1;
    overflow-y: auto;
    height: 350px;
}

.dropdown-boxes {
    border: 1px solid rgb(8,188,124);
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 5px;
}

.dropdown img {
    width: 25px;
    padding: 5px;
}

.dropdown a {
    text-decoration: none;
    border: 1px none rgb(8,188,124);
    color: white;
    padding: 10px;
    display: block;
    font-size: 13px;
}
.dropdown a:hover {
    background-color: rgb(8,188,124);
    color: black;
    cursor: pointer;
}

.hamicon:hover + .dropdown, .dropdown:hover {
    display: block;
}

.logogif {
    border: 2px none yellow;
    width: auto;
    height: 40px;
    margin: 0;
}

.dark {
    height: 30px;
    opacity: .7;
}
.dark:hover {
    cursor: pointer;
}

@media (max-width: 450px) {
    .logogif {
      height: 25px;
    }
    .hamicon {
        height: 25px;
    }
    .latest {
        font-size: 13px;
    }
    .dark {
        height: 25px;
    }
    .dropdown a {
        font-size: 10px;
    }
    .dropdown img {
        width: 20px;
    }
}

.dropdown::-webkit-scrollbar {
    width: 1px;
}
  /* Track */
.dropdown::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.dropdown::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
background: cyan;
}