.update-box {
    border: 2px none red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.update-box p {
    padding: 20px;
    border: .5px solid rgb(7, 224, 148);
}
.update-box a {
    text-decoration: none;
    color: rgb(29, 255, 176);
    padding: 5px;
}
.update-box a:hover {
    cursor: pointer;
    background-color: rgb(7, 224, 148);
    color: black;
}
.logo-div {
    border: 2px none blue;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.logo-div img {
    height: 300px;
    border: 2px solid rgb(7, 224, 148); 
}



.news-section {
    border: 2px none red;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
@media (max-width: 1050px) {
    .news-section {
        grid-template-columns: auto;
    }
}
.news-section h2 {
    color: rgb(7, 224, 148);
    font-size: 30px;
}
.newsfeed {
    border: 2px none green;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 10px 10px 10px;
}
.newsfeed div {
    border-top: 2px solid rgb(0, 98, 64);
    border-bottom: 2px solid rgb(0, 98, 64);
    /* border-left: 1px solid rgb(7, 224, 148); */
    align-items: left;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    box-sizing: inherit;
    padding: 20px 10px 20px 10px;
    height: 400px;
    margin-bottom: 30px;
    margin-right: 5px;
}
.newsfeed h2 {
    margin-top: 50px;
}
.newsfeed a {
    text-decoration: none;
    margin-top: 10px;
    text-align: left;
    color: rgb(0, 255, 166);
    opacity: 1;
    padding: 2px;
    /*font-weight: bold;*/
}
.newsfeed a:hover {
    background-color: rgb(0, 255, 166);
    color: black;
}
.newsfeed-list p {
    text-align: left;
    color:white;
    opacity: .7;
}
.tldr-section {
    border: 2px none blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px 10px;
}
.tldr-section-des {
    margin-top: -20px;
    color: rgb(7, 224, 148);
}
.tldr {
    border: 1px solid rgb(0, 98, 64);
    height: 400px;
    max-width: 550px;
    overflow-y: auto;
    padding: 20px;
}
@media (max-width: 1050px) {
    .tldr {
        height: auto;
    }
}
.tldr-image {
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}
.tldr a {
    text-decoration: underline;
    color: rgb(7, 224, 148);
    padding: 2px;
}
.tldr a:hover {
    cursor: pointer;
    background-color: rgb(7, 224, 148);
    color: black;
}
.tldr h2 {
    font-size: 23px;
}
.tldr img {
    height: 20px;
}



.footer {
    border: 2px none red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer img {
    width: 100px;
    margin-bottom: 5px;
}

.footer p {
    margin: 2px;
    font-size: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.title h1 {
    color: rgb(7, 224, 148);
    margin-bottom: 50px;
    padding: 10px;
}
@media (max-width: 450px) {
    .title h1 {
        font-size: 23px;
    }
    .news-section h1 {
        font-size: 23px;
    }
}

.grid-div {
    border: 2px none red;
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    padding: 10px;
    border: 2px none green;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-item {
    border: 2px solid rgb(7, 224, 148);
    text-align: center;
    width: 200px;
    padding: 10px;
}
.grid-item img {
    width: 200px;
    border-bottom: 2px solid rgb(7, 224, 148);
}
.grid-item a {
    text-decoration: none;
    color: rgb(7, 224, 148);
}
@media (max-width: 750px) {
    .grid {
        grid-template-columns: auto auto;
    }
}
@media (max-width: 500px) {
    .grid {
        grid-template-columns: auto;
    }
}



.activity-div {
    border: 2px none red;
    display: flex;
    justify-content: center;
}



.newsfeed div::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  /* Track */
  .newsfeed div::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.newsfeed div::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.newsfeed div::-webkit-scrollbar-thumb:hover {
background: cyan;
}
.tldr::-webkit-scrollbar {
    width: 1px;
}
  /* Track */
.tldr::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.tldr::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.tldr::-webkit-scrollbar-thumb:hover {
background: cyan;
}