.header {
    border: 2px none red;
    display: flex;
    width: 99.5%;
    height: 70px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 2px none rgb(8,188,124);
    display: flex;
    align-items:center;
    width: 90%;
    justify-content: space-between;
    background-color: (30, 30, 30);
}

.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
    font-family: "DM mono", serif;
    opacity: .7;
    transition: opacity 0.5s;
}
.navbar a:hover {
    opacity: 1;
    cursor: pointer;
}

.hamicon{
    height: 30px;
    opacity: .7;
    transition: opacity 0.5s;
}
.hamicon:hover {
    opacity: 1;
    cursor: pointer;
}

.logogif {
    height: 40px;
    border: 2px none rgb(7, 224, 148);
    padding-left: 5px;
}

.binary {
    border: 2px none blue;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    margin-top: 30px;
}

.binary p {
    border: 2px none red;
    margin: 0;
    color: rgb(7, 224, 148);
    opacity: .7;
    transition: font-size .2s, opacity .2s;
}
.binary p:hover {
    font-size: 15px;
    opacity: 1;
    color: rgb(7, 224, 148);
}

.newsfeed {
    border: 2px none blue;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 0;
    margin-top: 50px;
}
.newsfeed div {
    border: 2px none green;
    align-items: left;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    box-sizing: inherit;
    padding: 20px;
    height: 400px;
}

.newsfeed a {
    text-decoration: none;
    margin: 0;
    text-align: left;
    color: rgb(29, 255, 176);
    opacity: 1;
    padding-right: 10px;
    transition: opacity .2s;
}
.newsfeed a:hover {
    opacity: .7;
}

.newsfeed p {
    margin: 4px;
    text-align: left;
    color:white;
    opacity: .7;
}

.newsfeed div::-webkit-scrollbar {
    width: 2px;
}
  /* Track */
  .newsfeed div::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.newsfeed div::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.newsfeed div::-webkit-scrollbar-thumb:hover {
background: cyan;
}

.footer {
    border: 2px none red;
    display: flex;
    justify-content: center;
}