.header {
    border: 2px none red;
    display: flex;
    height: 70px;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 2px none rgb(8,188,124);
    display: flex;
    align-items: center;
    width: 97%;
    padding: 10px;
    justify-content: space-between;
}

.navbar a {
    border: 2px none yellow;
    text-decoration: none;
    color: white;
    font-family: "DM mono", serif;
    opacity: .7;
    transition: opacity 0.5s;
}
.navbar a:hover {
    opacity: 1;
    cursor: pointer;
}

.hamicon{
    border: 2px none yellow;
    height: 30px;
    opacity: .7;
}
.hamicon:hover {
    opacity: 1;
    cursor: pointer;
}

.logogif {
    border: 2px none yellow;
    width: auto;
    height: 40px;
    margin: 0;
}
@media (max-width: 450px) {
    .logogif {
      height: 25px;
    }
    .hamicon {
        height: 25px;
    }
    .navbar a {
        font-size: 12px;
    }
}



.logo-div {
    border: 2px none blue;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.logo-div img {
    height: 300px;
    border: .5px solid rgb(7, 224, 148); 
}



.newsfeed {
    border: 2px none green;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.newsfeed div {
    /*border-top: 2px solid rgb(7, 224, 148);
    border-bottom: 2px solid rgb(7, 224, 148);
    border-left: 2px solid rgb(7, 224, 148);
    */
    align-items: left;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    box-sizing: inherit;
    padding: 20px 10px 20px 10px;
    height: 350px;
}

.newsfeed a {
    text-decoration: none;
    margin-top: 10px;
    text-align: left;
    color: rgb(29, 255, 176);
    opacity: 1;
    padding: 2px;
}
.newsfeed a:hover {
    background-color: rgb(0, 255, 166);
    color: black;
}

.newsfeed p {
    margin-top: 10px;
    text-align: left;
    color:white;
    opacity: .7;
}

.newsfeed div::-webkit-scrollbar {
    width: 2px;
}
  /* Track */
  .newsfeed div::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.newsfeed div::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.newsfeed div::-webkit-scrollbar-thumb:hover {
background: cyan;
}

.footer {
    border: 2px none red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.footer img {
    width: 100px;
    margin-bottom: 5px;
}

.footer p {
    margin: 2px;
    font-size: 10px;
}