
.logo-div {
    border: 2px none blue;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.logo-div img {
    height: 150px;
    border: 2px solid rgb(7, 224, 148); 
}



.about-me {
    border: 2px none red;
    font-family: "DM mono", serif;
    display: flex;
    justify-content: center;
}

.about-me div {
    border: 2px none green;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.about-me a {
    text-decoration: none;
    color: rgb(3, 183, 120);
}
.about-me a:hover {
    opacity: .7;
}

.about-me h1 {
    color: rgb(7, 224, 148); 
    font-size: 20px;
}

.about-me p {
    font-size: 15px;
}

@media (max-width: 450px) {
    .about-me div {
        padding: 10px;
    }
}

.dropdown::-webkit-scrollbar {
    width: 1px;
}
  /* Track */
.dropdown::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.dropdown::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
background: cyan;
}