
.logo-div {
    border: 2px none blue;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.logo-div img {
    height: 150px;
    border: 2px solid rgb(7, 224, 148); 
}



.stats {
    border: 2px none red;
    font-family: "DM mono", serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.stats div {
    border: 2px solid rgb(178, 178, 178);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px 10px 50px;
}

.stats a {
    text-decoration: none;
    color: rgb(3, 183, 120);
}
.stats a:hover {
    opacity: .7;
}

.stats h1 {
    color: rgb(7, 224, 148); 
    font-size: 20px;
}

.stats p {
    font-size: 15px;
}

@media (max-width: 450px) {
    .stats div {
        padding: 10px 50px 10px 50px;
    }
}

.dropdown::-webkit-scrollbar {
    width: 1px;
}
  /* Track */
.dropdown::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.dropdown::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
background: cyan;
}