
.logo-div {
    border: 2px none blue;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.logo-div img {
    height: 150px;
    border: 2px solid rgb(7, 224, 148); 
}



.stats {
    border: 2px none red;
    font-family: "DM mono", serif;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 50px;
}
@media (max-width: 650px) {
    .stats {
        grid-template-columns: auto;
    }
}

.stats div {
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px 10px 50px;
}

.stats a {
    text-decoration: none;
    color: rgb(3, 183, 120);
}
.stats a:hover {
    color: white;
}

.stats h1 {
    color: rgb(7, 224, 148); 
    font-size: 20px;
    max-width: 300px;
}

.stats p {
    font-size: 15px;
}



.activitylog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}
.activitylog-title h2 {
    color: rgb(7, 224, 148);
    padding: 10px;
    font-size: 17px;
    margin: 0;
}
.activitylog-title p {
    color: white;
    font-size: 15px;
    margin: 0;
}
.activitylog-div {
    border: 2px none red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activitylog {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    border: 2px none blue;
    column-gap: 10px;
    row-gap: 10px;
}
.activitylog-item {
    font-size: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1px;
}
.activitylog-item p{
    display: none;
}



.dropdown::-webkit-scrollbar {
    width: 1px;
}
  /* Track */
.dropdown::-webkit-scrollbar-track {
background: #00000000;
}
/* Handle */
.dropdown::-webkit-scrollbar-thumb {
background: rgb(0, 255, 166);
border-radius: 0px;
}
/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
background: cyan;
}